@using blogen.Models
@model Category


<!--HEADER-->
<header class="bg-success text-white py-2">
    <div class="container">
        <h1>
            <i class="fa fa-folder"></i>  @ViewBag.Title
        </h1>
    </div>
</header>

<!--Body-->
<section class="mt-4">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div>
                        <label for="title">Title</label>
                        @Html.TextBoxFor(c => c.Title,
                                new { @class = "form-control", @placeholder = "category title..." })

                        @Html.ValidationMessageFor(c => c.Title,"", new { @class = "text-danger" })
                    </div>
                    <button class="btn btn-success mt-3" type="submit">
                        Add Category
                    </button>
                </div>
            </div>
            </div>
    }    
</section>